@font-face {
    font-family: "LobsterTwo-Bold"; rgb:(65, 33, 95);
    src: url("../css/fonts/LobsterTwo-Bold.ttf");
}

@font-face {
    font-family: "Lobster-Regular"; rgb:(65, 33, 95);
    src: url("../css/fonts/Lobster-Regular.ttf");
}

@font-face {
    font-family: "Outfit-Regular"; color: rgb(65, 33, 95);
    src: url("../css/fonts/Outfit-Regular.ttf");
}

html {
    background-color:  rgb(252, 252, 252);
}
header {

    width: 100%;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h1 {
    font-size: 50px
}
header nav {
    width: 30px;
    margin-right: 60px;
}
h1 {
    font-family: LobsterTwo-Bold; color: rgb(65, 33, 95);
}
section img {
    width: 30px;
    margin-left: 30px;
}
main {
    margin-left: 20px;
}
main div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
figure img {
    width: 100%;
    max-width: 200px;
    min-width: 50px;
    border-radius: 50%;
}
p {
    font-family: Outfit-Regular; color: rgb(21, 11, 31); 
    width: 80%;
    margin-left: 5px;
    font-size: 15px;
}
h2 {
    font-family: Lobster-Regular; color: rgb(30, 17, 43);
}
body {
    margin:auto;
}
h3 {
    font-family: Lobster-Regular; color: rgb(30, 17, 43);
    margin-left: 30px;
}
section img {
    width: 50px;
    align-items: center;
    justify-content: space-between;
}
a {
    text-decoration: solid;
    color: rgb(30, 17, 43);
}
.description {
  width: 600px;
  border: 1px; color: rgb(30, 17, 43);
  text-align: left;
}
.text {
    width: 2000px;
}